.main-nav {
  position: relative;

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 14px;
      line-height: 1.45em;
      font-weight: 500;
      margin: 0;
      padding: 0;
      position: relative;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:nth-child(4) {
        display: none;

        @media (min-width: 550px) {
          display: block;
        }
      }

      &:nth-child(5) {
        display: none;

        @media (min-width: 650px) {
          display: block;
        }
      }

      a {
        display: block;
        color: currentColor;
        text-decoration: none;

        &:hover {
          color: darken($primary-c, 10%);
        }
      }

      ul {
        display: none;
        position: absolute;
        z-index: 100;
        left: 0;
        min-width: 300px;
        margin: 0;
        padding: 20px;
        transition: 125ms $transition-t;
        background: $bg-c;
        visibility: hidden;
        opacity: 0;
        border-radius: $border-r--big;
        list-style: none;
        box-shadow:
          0 13px 27px -5px rgba($text-c, 0.1),
          0 8px 16px -8px rgba($text-c, 0.2);
        transform: translateY(10px);

        &::before {
          position: absolute;
          content: '';
          top: -10px;
          left: 0;
          width: 100%;
          height: 100%;
        }

        li:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      @media (min-width: $screen-md) {

        &[aria-haspopup] > a {
          margin-right: 20px;

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-40%);
            transition: 250ms $transition-t;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }

          &::before {
            opacity: 0;
            right: 1px;
            width: 8px;
            height: 8px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 8'%3E%3Cpath stroke='%2321323A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 7l6-6m0 6L1 1'/%3E%3C/svg%3E");
          }

          &::after {
            opacity: 1;
            right: 0;
            width: 10px;
            height: 7px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 7'%3E%3Cpath stroke='%2321323A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 1.5l4 4 4-4'/%3E%3C/svg%3E");
          }
        }

        &[aria-haspopup]:hover > a::before {
          opacity: 1;
          transform: translateY(-40%) scale(1);
        }

        &[aria-haspopup]:hover > a::after {
          transform: translateY(-40%) scale(0);
          opacity: 0;
        }

        &[aria-haspopup]:hover > ul,
        &[aria-haspopup]:focus-within > ul,
        &[aria-haspopup] ul:hover,
        &[aria-haspopup] ul:focus {
          display: block;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
