.promo {
  padding: 20px 20px 0;

  &__container {
    position: relative;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }

  &__slider {
    overflow: hidden;
  }

  &__slide {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: $border-r--big;
    background-color: $bg-c--dark;
    color: $text-c--light;
  }

  &__slide-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    min-height: 440px;
    padding: 20px;

    @media (min-width: $screen-sm) {
      padding: 45px;
    }
  }

  &__slide-subtitle {
    font-size: 12px;
    line-height: 1.45em;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
  }

  &__slide-title {
    max-width: 500px;
    margin: 0 0 30px -0.025em;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.25em;

    @media (min-width: $screen-xl) {
      font-size: 79px;
    }
  }

  &__slide-desc {
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
    font-size: 14px;
    line-height: 1.45em;
    max-width: 500px;

    &::before {
      content: '';
      position: absolute;
      bottom: calc(100% + 15px);
      left: 0;
      width: 30px;
      height: 1px;
      background-color: $primary-c;
    }
  }

  &__slide-cover {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top right, hsla(222, 17%, 15%, 0.5) 0%, hsla(222, 17%, 15%, 0.25) 100%);
    }
  }

  &__slide-cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transition: transform 7.5s ease-out;
    transform-origin: center;

    @media (min-width: $screen-sm) {
      transition: transform 10s ease-out;
    }

    @at-root .swiper-slide-active & {
      transform: scale(1.25);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-navigation-wrap {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    pointer-events: none;

    @media (min-width: $screen-sm) {
      padding: 45px;
    }
  }

  &__slider-navigation-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }

  &__slider-navigation {
    pointer-events: all;
  }
}
