.counter {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba($text-c, 0.25);
  border-radius: $border-r;

  &__minus,
  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 26px;
    cursor: pointer;
  }

  &__input {
    display: inline-block;
    width: 30px;
    height: 100%;
    margin: 0;
    border: none;
    padding: 0;
    font-size: 12px;
    line-height: 1.45em;
    font-family: inherit;
    font-variant-numeric: lining-nums;
    font-weight: 500;
    background: none;
    border-radius: 0;
    text-align: center;
  }
}
