mixin counter(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' counter--' + modsList[i].trim();
      }
    }

  .counter(class=allMods)&attributes(attributes)
    span.counter__minus
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 2', width='12', height='2')
        path(stroke-width='1.5', stroke='#21323a', stroke-linecap='round', d='M1 1h10')
    input.counter__input(type='text', value='1')
    span.counter__plus
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 12', width='12', height='12')
        path(stroke-width='1.5', stroke='#21323a', stroke-linecap='round', d='M1 6h10m-5 5V1')