mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__container
      .page-header__top
        ul.page-header__top-list.page-header__top-list--nav
          li: a(href='/') Доставка и оплата
          li: a(href='/') О нас
        ul.page-header__top-list.page-header__top-list--contacts
          li: a(href='mailto:info@techno-grup.ru') info@techno-grup.ru
          li: a(href='tel:+74951440446') +7 (495) 144-04-46
      .page-header__middle
        a.page-header__logo(href='/') Техногрупп
        strong.page-header__slogan
          | Профессиональное
          br
          | уборочное оборудование
        +form().page-header__form
          +field-search({ attrs: { placeholder: 'Поиск' }})
        +btn('Обратный звонок', '/').page-header__get-a-call
      .page-header__bottom
        nav.main-nav.page-header__main-nav
          ul.main-nav__list
            li(aria-haspopup='true')
              a(href='/') Каталог
              ul
                li: a(href='/') Поломоечные машины
                li: a(href='/') Подметальные машины
                li: a(href='/') Профессиональные пылесосы
                li: a(href='/') Мойки высокого давления
                li: a(href='/') Универсальные машины
                li: a(href='/') Восстановленная техника (б/у)
                li: a(href='/') Снегоуборочная и спецтехника
                li: a(href='/') Профессиональная химия
                li: a(href='/') Инвентарь и расходники
                li: a(href='/') Бытовая химия
                li: a(href='/') Запасные части
            li: a(href='/') Аренда
            li: a(href='/') Ремонт
            li: a(href='/') Бренды
            li: a(href='/') Контакты
        a.page-header__shopping-cart(href='/')
          span Корзина
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 17', width='18', height='17')
            path(d='M1 .25C.585786.25.25.585786.25 1c0 .41421.335786.75.75.75V.25zm3.25262 1.53307l.73128-.16653-.73128.16653zm1.6717 7.34087l.73128-.16653-.73128.16653zm1.11353.77696l.08085.7456-.08085-.7456zm7.65715-.83024l-.0808-.74563.0808.74563zm.859-.67766l-.7097-.24244v.00001l.7097.24243zm1.3926-4.07677l-.7097-.24244.7097.24244zM8.17335 2.25c-.41421 0-.75.33579-.75.75s.33579.75.75.75v-1.5zM1 1.75h2.25226V.25H1v1.5zm2.52134.1996l1.6717 7.34087 1.46256-.33306-1.6717-7.34087-1.46256.33306zm3.59736 8.6969l7.6572-.83021-.1617-1.49126-7.65719.83024.16169 1.49123zm9.1451-2.01106l1.3926-4.07677-1.4195-.48488-1.3926 4.07677 1.4195.48488zM15.9744 2.25H8.17335v1.5h7.80105v-1.5zm1.682 2.30867c.3959-1.15902-.4948-2.30867-1.682-2.30867v1.5c.2118 0 .309.18775.2625.32379l1.4195.48488zm-2.8805 5.25762c.6786-.07358 1.2647-.52751 1.4879-1.18085l-1.4195-.48487c-.0296.08672-.1142.16189-.2301.17446l.1617 1.49126zm-9.58286-.52582c.20105.88283 1.04091 1.45203 1.92566 1.35603l-.16169-1.49123c-.15527.01683-.27546-.0839-.30141-.19786l-1.46256.33306zM3.25226 1.75c.1422 0 .24524.0949.26908.1996l1.46256-.33306C4.79935.806168 4.07066.25 3.25226.25v1.5zM5.37382 14c0 .6732-.56441 1.25-1.29953 1.25v1.5c1.52874 0 2.79953-1.214 2.79953-2.75h-1.5zm-1.29953 1.25c-.73511 0-1.29953-.5768-1.29953-1.25h-1.5c0 1.536 1.2708 2.75 2.79953 2.75v-1.5zM2.77476 14c0-.6732.56442-1.25 1.29953-1.25v-1.5c-1.52873 0-2.79953 1.214-2.79953 2.75h1.5zm1.29953-1.25c.73512 0 1.29953.5768 1.29953 1.25h1.5c0-1.536-1.27079-2.75-2.79953-2.75v1.5zM15.6215 14c0 .6732-.5644 1.25-1.2996 1.25v1.5c1.5288 0 2.7996-1.214 2.7996-2.75h-1.5zm-1.2996 1.25c-.7351 0-1.2995-.5768-1.2995-1.25h-1.5c0 1.536 1.2708 2.75 2.7995 2.75v-1.5zM13.0224 14c0-.6732.5644-1.25 1.2995-1.25v-1.5c-1.5287 0-2.7995 1.214-2.7995 2.75h1.5zm1.2995-1.25c.7352 0 1.2996.5768 1.2996 1.25h1.5c0-1.536-1.2708-2.75-2.7996-2.75v1.5z')
        +burger().page-header__burger