.page-header {
  padding: 0 20px;
  background-color: $bg-c;
  color: $text-c;

  &__container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }

  &__top {
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.125;
    }

    @media (min-width: $screen-xs) {
      display: flex;
    }
  }

  &__top-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
      font-size: 12px;
      line-height: 1.45em;
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 30px;
      }

      a {
        color: currentColor;
        text-decoration: none;
      }
    }

    &--nav {
      display: none;

      @media (min-width: $screen-xs) {
        display: flex;
      }
    }

    &--contacts {

      @media (max-width: ($screen-xs - 1px)) {
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.125;
    }
  }

  &__logo {
    display: inline-flex;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    margin: 0;
    color: $primary-c;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.45em;
    text-decoration: none;
    margin-right: 15px;

    @media (min-width: $screen-xl) {
      font-size: 28px;
    }
  }

  &__slogan {
    display: none;
    flex: 0 0 auto;
    position: relative;
    width: auto;
    max-width: 100%;
    font-size: 10px;
    line-height: 1.25em;
    padding-left: 15px;
    margin-right: 30px;
    opacity: 0.5;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 100%;
      transform: translateX(-50%);
      background-color: currentColor;
      opacity: 0.25;
    }

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__form {
    display: none;
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    margin-right: 15px;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__get-a-call {

    @media (max-width: ($screen-xs - 1px)) {
      padding: 5px 10px;
      font-weight: 500;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding: 10px 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.125;
    }
  }

  &__main-nav {
    margin-right: auto;
  }

  &__shopping-cart {
    display: inline-flex;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.45em;
    font-weight: 500;
    color: currentColor;
    align-items: center;

    span {
      margin-right: 10px;
      display: none;

      @media (min-width: $screen-sm) {
        display: block;
      }
    }

    svg {
      display: block;
      fill: currentColor;
    }
  }

  &__burger {
    margin-left: 20px;
    display: none;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}
