.slider-navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  @media (max-width: ($screen-sm - 1px)) {
    display: none;
  }

  .swiper-button-disabled {
    opacity: 0.25;
  }

  &__btn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0;
    border: 1px solid transparent;
    padding: 0;
    transition: 250ms $transition-t;
    border-radius: $border-r;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: currentColor;

    &::after {
      content: '';
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
    }

    svg {
      display: block;
      fill: transparent;

      path {
        stroke: currentColor;
      }
    }

    &:hover:not(.swiper-button-disabled) {
      border-color: $primary-c;
    }

    &--prev {
      margin-right: 0.5rem;

      svg {
        transform: rotate3d(0, 0, 1, 180deg) translateX(1px);
      }
    }
  }

  &--bg-light {

    .slider-navigation__btn {
      background-color: $bg-c;
      border: none;

      &:hover:not(.swiper-button-disabled) {
        background-color: $primary-c;
        color: $text-c--light;
      }
    }
  }
}
