mixin slider-navigation(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-navigation--' + modsList[i].trim();
      }
    }

  .slider-navigation(class=allMods)&attributes(attributes)
    button.slider-navigation__btn.slider-navigation__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 7 12', width='7', height='12')
        path(stroke-width='1.5', stroke='#333', stroke-linecap='round', stroke-linejoin='round', d='M1 1l5 5-5 5')
    button.slider-navigation__btn.slider-navigation__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 7 12', width='7', height='12')
        path(stroke-width='1.5', stroke='#333', stroke-linecap='round', stroke-linejoin='round', d='M1 1l5 5-5 5')