.categories {
  padding: 30px 20px;

  &__container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-xs) {
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-lg) {
      gap: 20px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }
}
