.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0;
  border: none;
  padding: 10px 20px;
  overflow: hidden;
  background-color: $primary-c;
  background-image: none;
  color: $text-c--light;
  border-radius: $border-r;
  font-family: $font-f;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.45em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  text-shadow: 0 1px 1px rgba(105, 165, 65, 0.5);
  transition: 125ms $transition-t;

  &:hover {
    background-color: darken($primary-c, 10%);
  }

  &--small {
    padding: 5px 10px;
    font-weight: 500;
    font-size: 12px;

    &:hover {
      background-color: rgba($primary-c, 0.125);
    }
  }

  &--ghost {
    background-color: transparent;
    color: currentColor;
    border: 1px solid $primary-c;
  }

  &--wide {
    width: 100%;
  }
}
