.tag {
  display: inline-flex;
  border: 1px solid $border-c;
  padding: 5px 10px;
  transition: 250ms $transition-t;
  font-size: 12px;
  line-height: 1.25em;
  font-weight: 500;
  background-color: $bg-c--shade;
  color: $text-c;
  border-radius: $border-r;
  text-decoration: none;

  &:hover:not(.tag--current) {
    background-color: rgba($primary-c, 0.125);
    border-color: $primary-c;
  }

  &--current {
    background-color: $primary-c;
    color: $text-c--light;
    border-color: $primary-c;
  }
}
