include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/category-card/category-card.pug
include ../blocks/counter/counter.pug
include ../blocks/form/form.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/product-card/product-card.pug
include ../blocks/slider-navigation/slider-navigation.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
include ../blocks/tag/tag.pug
