.catalog {
  position: relative;
  padding: 30px 20px;
  overflow: hidden;

  &__container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 45px;
  }

  &__title {
    font-size: 28px;
    line-height: 1.1em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__tags-item {
    margin: 0 5px 5px 0;
    padding: 0;
  }

  &__section {

    @include media-min-sm {
      display: grid;
      grid-template:
        'slider-progressbar slider-progressbar'
        'title slider-navigation'
        'slider slider' / 1fr auto;
      gap: 20px;
    }

    @include media-min-lg {
      display: grid;
      grid-template:
        'slider-progressbar slider-progressbar'
        'title slider-navigation'
        'slider slider' / 1fr auto;
      gap: 30px;
    }
  }

  &__section-title {
    font-size: 28px;
    line-height: 1.1em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;

    span {
      display: inline-block;
      position: relative;
      vertical-align: top;
    }

    @media (min-width: $screen-sm) {
      grid-area: title;
      margin-bottom: 0;
    }

    &--fire-badge {

      span {

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: calc(100% + 10px);
          width: 10px;
          height: 16px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 16'%3E%3Cpath fill='%23D65C5E' fill-rule='evenodd' d='M.264367 9.44159C1.15352 6.2404 1.34689 6.19969.573698 4.41705c0 0 1.816872 1.0533 1.894272 2.87665C4.0113 5.41189 4.24739.960822 2.5451 0c0 0 4.83223 2.35029 4.48433 6.92932 0 0 .87001-1.05359.59952-2.71496C9.20946 6.57512 10.6696 9.82342 9.6747 12.7306c-.31488.9204-.90108.5051-1.56164.2879-.30184-.0989-.19004.2463-.13538.4124.21167.6421.40421 1.0143-.01637 1.6622-.26356.4057-.63586.6209-1.05617.8125-.82534.3661-.58121-.4339-.83089-.6819-.13095-.13-.44305.2524-.5518.3521-.531.4674-.81786.073-1.13857-.3972-.15619-.2294-.39755-.5578-.35205-.8509.04494-.2867.2053-.4089.25579-.6185-.33347-.0416-.79095.4196-.90691.7261-.09183.2425-.09821.914-.37952.96-.20197.0328-.41753-.4924-.49382-.6526-.12596-.2646-.24192-.5368-.36316-.8041-.19614-.4283-.25162-.1163-.30156.1469-.1573.8302-.20918 1.3144-.884715.4152-.9149552-1.2176-1.122748-2.9394-.84116-4.4266.040782-.2155.089887-.42139.147592-.63251z' clip-rule='evenodd'/%3E%3C/svg%3E");
        }
      }
    }
  }

  &__slider {
    width: 100%;

    @media (min-width: $screen-sm) {
      grid-area: slider;
    }
  }

  &__slider-progressbar {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      grid-area: slider-progressbar;
      margin-bottom: 0;
    }
  }

  &__slider-navigation {

    @media (min-width: $screen-sm) {
      grid-area: slider-navigation;
    }
  }
}
