extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  .promo
    .promo__container
      .promo__slider
        .swiper-wrapper
          section.promo__slide.swiper-slide
            .promo__slide-content
              span.promo__slide-subtitle Новая линейка
              h2.promo__slide-title Nilfisk
              .promo__slide-desc
                p Прайс и подробности можно уточнить у менеджеров по телефону или через форму заявки.
              +btn('Узнать подробнее')
            .promo__slide-cover
              .promo__slide-cover-wrap
                img(src='img/promo-cover-1.jpg', alt='', width='280', height='375')
          section.promo__slide.swiper-slide
            .promo__slide-content
              span.promo__slide-subtitle Старая линейка
              h2.promo__slide-title Nilfisk
              .promo__slide-desc
                p Прайс и подробности можно уточнить у менеджеров по телефону или через форму заявки.
              +btn('Узнать подробнее')
            .promo__slide-cover
              .promo__slide-cover-wrap
                img(src='img/promo-cover-2.jpg', alt='', width='280', height='375')
          section.promo__slide.swiper-slide
            .promo__slide-content
              span.promo__slide-subtitle Б/у линейка
              h2.promo__slide-title Nilfisk
              .promo__slide-desc
                p Прайс и подробности можно уточнить у менеджеров по телефону или через форму заявки.
              +btn('Узнать подробнее')
            .promo__slide-cover
              .promo__slide-cover-wrap
                img(src='img/promo-cover-3.jpg', alt='', width='280', height='375')
      .promo__slider-navigation-wrap
        .promo__slider-navigation-container
          +slider-navigation('bg-light').promo__slider-navigation

  .categories
    .categories__container
      ul.categories__list
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15030/vu500_960x960px.png',
            title: 'Поломоечные машины',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15023/41600822_vp600-b-masked-combi_960x960px.png',
            title: 'Подметальные машины',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15025/107417924_gd5-right_960x960px.png',
            title: 'Профессиональные пылесосы',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15030/vu500_960x960px.png',
            title: 'Мойки высокого давления',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15023/41600822_vp600-b-masked-combi_960x960px.png',
            title: 'Универсальные машины',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15025/107417924_gd5-right_960x960px.png',
            title: 'Восстановленная техника (б/у)',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15030/vu500_960x960px.png',
            title: 'Снегоуборочная и спецтехника',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15023/41600822_vp600-b-masked-combi_960x960px.png',
            title: 'Профессиональная химия',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15025/107417924_gd5-right_960x960px.png',
            title: 'Инвентарь и расходники',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15030/vu500_960x960px.png',
            title: 'Бытовая химия',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15023/41600822_vp600-b-masked-combi_960x960px.png',
            title: 'Запасные части',
          })
        li.categories__item
          +category-card({
            image: 'https://www.nilfisk.com/media/15030/vu500_960x960px.png',
            title: 'Выбрать по бренду'
          }, '', true)

  .advantages
    .advantages__container
      .advantages__wrap
        ul.advantages__list
          li.advantages__item
            figure.advantages__figure
              .advantages__figure-icon
                img(src='img/variety.svg', alt='', width='35', height='55')
              figcaption.advantages__figure-caption Новые и б\у модели
          li.advantages__item
            figure.advantages__figure
              .advantages__figure-icon
                img(src='img/flexibility.svg', alt='', width='54', height='54')
              figcaption.advantages__figure-caption Работаем с ИП и ООО
          li.advantages__item
            figure.advantages__figure
              .advantages__figure-icon
                img(src='img/delivery.svg', alt='', width='54', height='54')
              figcaption.advantages__figure-caption Бесплатная доставка
          li.advantages__item
            figure.advantages__figure
              .advantages__figure-icon
                img(src='img/leasing.svg', alt='', width='40', height='50')
              figcaption.advantages__figure-caption Лизинг и рассрочка
        .advantages__cover
          .advantages__cover-wrap
            img.lazyload.rellax(data-srcset='img/advantages-cover-1x.jpg 1x, img/advantages-cover-2x.jpg 2x', alt='', data-rellax-percentage='0.5', data-rellax-speed='-0.5')


  article.catalog
    .catalog__container
      header.catalog__header
        h2.catalog__title Каталог
        ul.catalog__tags
          li.catalog__tags-item
            +tag('Все', '', 'current')
          li.catalog__tags-item
            +tag('Поломоечные машины', '/')
          li.catalog__tags-item
            +tag('Подметальные машины', '/')
          li.catalog__tags-item
            +tag('Профессиональные пылесосы', '/')
          li.catalog__tags-item
            +tag('Мойки высокого давления', '/')
          li.catalog__tags-item
            +tag('Универсальные машины', '/')
          li.catalog__tags-item
            +tag('Восстановленная техника (б/у)', '/')
          li.catalog__tags-item
            +tag('Снегоуборочная и спецтехника', '/')
          li.catalog__tags-item
            +tag('Профессиональная химия', '/')
          li.catalog__tags-item
            +tag('Инвентарь и расходники', '/')
          li.catalog__tags-item
            +tag('Бытовая химия', '/')
          li.catalog__tags-item
            +tag('Запасные части', '/')
      section.catalog__section.catalog__section--special-offers
        +slider-progressbar().catalog__slider-progressbar
        h3.catalog__section-title.catalog__section-title--fire-badge
          span Акции
        .catalog__slider
          .swiper-wrapper
            .swiper-slide
              +product-card({
                image: 'https://www.nilfisk.com/media/15030/vu500_960x960px.png',
                label: 'Nilfisk',
                title: 'Профессиональный пылеводосос IPC Soteco YP1/27'
              }, '', true)
            .swiper-slide
              +product-card({
                image: 'https://www.nilfisk.com/media/15023/41600822_vp600-b-masked-combi_960x960px.png',
                label: 'Nilfisk',
                title: 'Профессиональный пылеводосос IPC Soteco YP1/27'
              }, '', true)
            .swiper-slide
              +product-card({
                image: 'https://www.nilfisk.com/media/15025/107417924_gd5-right_960x960px.png',
                label: 'Nilfisk',
                title: 'Профессиональный пылеводосос IPC Soteco YP1/27'
              }, '', true)
            .swiper-slide
              +product-card({
                image: 'https://www.nilfisk.com/media/15030/vu500_960x960px.png',
                label: 'Nilfisk',
                title: 'Профессиональный пылеводосос IPC Soteco YP1/27'
              }, '', true)
            .swiper-slide
              +product-card({
                image: 'https://www.nilfisk.com/media/15023/41600822_vp600-b-masked-combi_960x960px.png',
                label: 'Nilfisk',
                title: 'Профессиональный пылеводосос IPC Soteco YP1/27'
              }, '', true)
            .swiper-slide
              +product-card({
                image: 'https://www.nilfisk.com/media/15025/107417924_gd5-right_960x960px.png',
                label: 'Nilfisk',
                title: 'Профессиональный пылеводосос IPC Soteco YP1/27'
              }, '', true)
            .swiper-slide
              +product-card({
                image: 'https://www.nilfisk.com/media/15030/vu500_960x960px.png',
                label: 'Nilfisk',
                title: 'Профессиональный пылеводосос IPC Soteco YP1/27'
              }, '', true)
        +slider-navigation().catalog__slider-navigation

block footer