mixin product-card(props, mods, sale)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-card--' + modsList[i].trim();
      }
    }

  if (sale)
    article.product-card(class=allMods)&attributes(attributes)
      a.product-card__cover(href='/')
        img(src=props.image, alt='', width='280', height='280')
      a.product-card__label(href='/')!= props.label
      h4.product-card__title
        a(href='/')!= props.title
      .product-card__price
        span.product-card__old-price 12 999
        span.product-card__current-price 8 499 ₽
      +form().product-card__form
        +counter().product-card__counter
        +btn('В корзину', '', 'wide, small, ghost')
      +btn('Купить в 1 клик', '/', 'wide')
      span.product-card__badge.product-card__badge--sale -30%

  else
    article.product-card(class=allMods)&attributes(attributes)
      a.product-card__cover(href='/')
        img(src=props.image, alt='', width='280', height='280')
      a.product-card__label(href='/')!= props.label
      h4.product-card__title
        a(href='/')!= props.title
      .product-card__price
        span.product-card__current-price
      +form().product-card__form
        +counter().product-card__counter
        +btn('В корзину', '', 'wide, small, ghost')
      +btn('Купить в 1 клик', '/', 'wide')