.product-card {
  position: relative;
  z-index: 1;
  margin: 0;
  border: 1px solid $border-c;
  padding: 20px;
  overflow: hidden;
  transition: 500ms $transition-t;
  border-radius: $border-r--big;
  background-color: $bg-c;

  @media (min-width: $screen-sm) {
    padding: 30px;
  }

  &:hover {
    border-color: darken($primary-c, 10%);
  }

  &__cover {
    display: block;
    position: relative;
    margin-bottom: 15px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__label {
    display: inline-block;
    transition: 125ms $transition-t;
    font-size: 12px;
    line-height: 1.25em;
    font-weight: 500;
    margin-bottom: 5px;
    text-decoration: none;
    color: currentColor;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1.45em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;

    a {
      transition: 125ms $transition-t;
      color: currentColor;
      text-decoration: none;
    }
  }

  &__price {
    font-size: 12px;
    line-height: 1.45em;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__old-price {
    display: inline-flex;
    position: relative;
    margin-right: 5px;
    opacity: 0.5;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    }

    &::after {
      margin-top: 1px;
      background-color: $bg-c;
    }
  }

  &__current-price {
    color: $danger-c;
  }

  &__form {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }

  &__counter {
    margin-right: 5px;
  }

  &__badge {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.25em;
    background-color: $bg-c--shade;
    color: $text-c;
    border-radius: $border-r;
    font-weight: 500;

    @media (min-width: $screen-sm) {
      top: 30px;
      left: 30px;
    }

    &--sale {
      background-color: $danger-c;
      color: $text-c--light;
    }
  }
}
