.advantages {
  padding: 30px 20px;

  &__container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }

  &__wrap {
    position: relative;
    z-index: 1;
    padding: 45px 20px;
    overflow: hidden;
    background-color: $bg-c--dark;
    color: $text-c--light;
    border-radius: $border-r--big;

    @media (min-width: $screen-sm) {
      padding: 60px 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
    margin: 0;
    padding: 0;

    @media (max-width: ($screen-sm - 1px)) {

      &:nth-child(-n+2) {
        margin-bottom: 30px;
      }
    }

    @media (min-width: $screen-sm) {
      position: relative;
      width: 25%;
    }

    &:not(:last-child) {

      @media (min-width: $screen-sm) {

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 100%;
          width: 1px;
          height: 100%;
          background-color: currentColor;
          opacity: 0.25;
        }
      }
    }
  }

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__figure-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;

    img {
      display: block;
    }
  }

  &__figure-caption {
    font-size: 14px;
    line-height: 1.25em;
    font-weight: 600;
    text-align: center;
    padding: 0 10px;

    @media (min-width: $screen-sm) {
      padding: 0 20px;
    }
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top right, hsla(222, 17%, 15%, 0.75) 0, hsla(222, 17%, 15%, 0.25) 100%);
    }
  }

  &__cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale(1.2);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
