mixin burger(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' burger--' + modsList[i].trim();
      }
    }

  button.burger(class=allMods)&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 14', width='22', height='14')
      path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 1h20')
      path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 7h20')
      path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 13h20')

