.burger {
  display: block;
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
  color: currentColor;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: -1em;
    right: -1em;
    bottom: -1em;
    left: -1em;
  }

  svg {
    display: block;
    stroke: currentColor;
  }
}
