mixin category-card(props, mods, alternate)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' category-card--' + modsList[i].trim();
      }
    }

  if (alternate)
    a.category-card.category-card--alternate(href='/', class=allMods)&attributes(attributes)
      .category-card__icon
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 10', width='17', height='10')
          path(stroke='#fff', stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 1h15')
          path(stroke='#fff', stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M3.5 5h10')
          path(stroke='#fff', stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M6 9h5')

      h3.category-card__title!= props.title
      span.category-card__arrow
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 10', width='22', height='10')
          path(stroke-width='1.5', stroke='#8cd073', stroke-linecap='round', stroke-linejoin='round', d='M17 1l4 4-4 4')
          path(stroke-width='1.5', stroke='#8cd073', stroke-linecap='round', stroke-linejoin='round', d='M1 5h20')

  else
    a.category-card(href='/', class=allMods)&attributes(attributes)
      .category-card__cover
        img(src=props.image, alt='', width='280', height='335')
      h3.category-card__title!= props.title
      span.category-card__arrow
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 10', width='22', height='10')
          path(stroke-width='1.5', stroke='#8cd073', stroke-linecap='round', stroke-linejoin='round', d='M17 1l4 4-4 4')
          path(stroke-width='1.5', stroke='#8cd073', stroke-linecap='round', stroke-linejoin='round', d='M1 5h20')
