.category-card {
  display: block;
  position: relative;
  z-index: 1;
  height: 100%;
  border: 1px solid $border-c;
  padding: 15px;
  overflow: hidden;
  transition: 500ms $transition-t;
  border-radius: $border-r--big;
  background-color: $bg-c--shade;
  color: $text-c;
  text-decoration: none;

  @media (min-width: 375px) {
    padding: 20px;
  }

  @media (min-width: $screen-sm) {
    padding: 20px 20px 30px;
  }

  &:hover {
    border-color: rgba(darken($primary-c, 10%), 1);
    // box-shadow:
    // 0 13px 27px -5px rgba(#333,0.10),
    // 0 8px 16px -8px rgba(#333,0.2);

    .category-card__arrow {
      transform: translateX(10px);

      svg {

        path {

          &:first-child {
            stroke-dashoffset: 0;
          }

          &:last-child {
            transform: scaleX(0.8);
          }
        }
      }
    }
  }

  &__cover {
    position: relative;
    margin-bottom: 15px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.25em;
    font-weight: 600;

    @media (min-width: $screen-xs) {
      font-size: 14px;
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-lg) {
      padding-right: 15px;
    }
  }

  &__arrow {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: 500ms $transition-t;
    color: darken($primary-c, 10%);

    @media (min-width: $screen-sm) {
      display: block;
    }

    svg {
      display: block;
      fill: transparent;

      path {
        transition: 500ms $transition-t;
        stroke: currentColor;

        &:first-child {
          stroke-dasharray: 12;
          stroke-dashoffset: 12;
        }

        &:last-child {
          transform-origin: center right;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: 20px;
    left: 20px;

    svg {
      display: block;

      path {
        stroke: currentColor;
      }
    }
  }

  &--alternate {
    display: flex;
    align-items: flex-end;
    border: none;
    background-color: $primary-c;
    color: $text-c--light;

    &:hover {
      background-color: darken($primary-c, 10%);
      // box-shadow:
      // 0 13px 27px -5px rgba(darken($primary-c, 50%),0.10),
      // 0 8px 16px -8px rgba(darken($primary-c, 50%),0.2);
    }

    .category-card__arrow {
      color: currentColor;
    }
  }
}
